@import url("https://fonts.googleapis.com/css2?family=Port+Lligat+Slab&display=swap");

html {
  scroll-behavior: smooth;
  scroll-padding-top: 200px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Port Lligat Slab", serif;
}
:root {
  --purplePale: #544591f1;
  --purple: #3f346c;
  --black: black;
  --white: white;
}
.purple {
  color: var(--purple);
}
.bg_purple {
  background-color: var(--purple);
}

.icon:hover {
  color: #a6a1c0;
}
.button {
  background-color: var(--purple);
  color: var(--white);
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
}
.button:hover {
  background-color: var(--purplePale);
}
.link .active {
  color: var(--purplePale);
}

.vector {
  animation: updown 6s ease-in-out infinite alternate;
  animation-delay: 1.2s;
  transform-origin: bottom;
}
@keyframes updown {
  25% {
    transform: translateY(10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateX(-10px);
  }
}
/* progress circle animation */
.outer {
  box-shadow: -8px -3px 9px rgba(0, 0, 0, 0.068),
    5px 5px 12px rgba(0, 0, 0, 0.4);
}
.inner {
  box-shadow: inset -8px -3px 9px rgba(0, 0, 0, 0.06),
    inset 5px 0px 12px rgba(0, 0, 0, 0.3);
}
svg {
  height: 64px;
  width: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.circle1 {
  display: none;
}
.circle2 {
  fill: none;
  stroke-width: 6px;
  stroke: var(--purple);
  stroke-dasharray: 178;
  stroke-linecap: round;
  animation: mobile-process 2s linear forwards;
}
@keyframes mobile-process {
  to {
    stroke-dashoffset: 19.8;
  }
  from {
    stroke-dashoffset: 178;
  }
}
.skillcard {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--purple);
  border: 2px solid var(--purple);
}
.skillcard .img {
  width: 30%;
  height: 70%;
}
.progress-done {
  background: linear-gradient(to right, #4d30c4, var(--purple));
  box-shadow: 0 3px 3px -5px #4d30c4, 0 2px 5px #4d30c4;
  border-radius: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease 0.3s;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  color: black;
  font-size: 20px !important;
  font-weight: bold !important;
}
.swiper-button-prev {
  left: 0px !important;
}
.swiper-button-next {
  right: 0px !important;
}
.swiper-pagination {
  bottom: 0px !important;
}
@media (min-width: 640px) {
  .navs .nav_links {
    position: relative;
    cursor: pointer;
  }

  .navs .nav_links::before {
    content: "";
    width: 0;
    bottom: 0;
    height: 3px;
    position: absolute;
    background-color: var(--purple);
    transition: all 0.3s ease;
  }
  .navs .nav_links :hover::before,
  .navs .nav_links.active::before {
    width: 100% !important;
  }
}

@media (min-width: 768px) {
  svg {
    height: 160px;
    width: 160px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
  }
  .circle2 {
    display: none;
  }
  .circle1 {
    display: block;
    fill: none;
    stroke-width: 20px;
    stroke: var(--purple);
    stroke-dasharray: 437;
    stroke-linecap: round;
    animation: process 2s linear forwards;
  }
  @keyframes process {
    to {
      stroke-dashoffset: 43.7;
    }
    from {
      stroke-dashoffset: 437;
    }
  }
  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 30px !important;
    font-weight: bold !important;
  }
}

@media (min-width: 1024px) {
  .home {
    height: 542px;
    width: 100%;
  }
}
