@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html {
  scroll-behavior: smooth;
  scroll-padding-top: 200px;
  -webkit-tap-highlight-color: transparent !important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
:root {
  --purplePale: #2b0080;
  --purplePale2: #a6a1c0;
  --purple: #220066;
  --black: black;
  --white: white;
}
.purple {
  color: var(--purple);
}
.bg_purple {
  background-color: var(--purple);
}

.icon:hover {
  color: var(--purplePale2);
}
.button {
  background-color: var(--purple);
  color: var(--white);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.button:hover {
  background-color: var(--purplePale);
  box-shadow: 0 5px 6px -1px rgb(0 0 0 / 0.2), 0 3px 4px -2px rgb(0 0 0 / 0.2);
}
.link .active {
  color: var(--purplePale);
}

.vector {
  animation: updown 6s ease-in-out infinite alternate;
  animation-delay: 1.2s;
  transform-origin: bottom;
}
@keyframes updown {
  25% {
    transform: translateY(10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateX(-10px);
  }
}

.swiper {
  width: 100%;
  height: 100%;
  padding-top: 50px !important;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  color: black;
  font-size: 10px !important;
  font-weight: bold !important;
}
.swiper-button-next,
.swiper-button-prev {
  height: 40px !important;
  width: 40px !important;
  border-radius: 50%;
  top: 0 !important;
  left: auto !important;
  margin: 0 !important;
  background-color: var(--purplePale2);
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  box-shadow: 0 5px 6px -1px rgb(0 0 0 / 0.2), 0 3px 4px -2px rgb(0 0 0 / 0.2) !important;
}
.swiper-pagination {
  bottom: 0px !important;
}
#contact svg {
  height: 35px !important;
  width: 35px !important;
}
@media (min-width: 640px) {
  .navs .nav_links {
    position: relative;
    cursor: pointer;
  }

  .navs .nav_links::before {
    content: "";
    width: 0;
    bottom: 0;
    height: 3px;
    position: absolute;
    background-color: var(--purple);
    transition: all 0.3s ease;
  }
  .navs .nav_links :hover::before,
  .navs .nav_links.active::before {
    width: 100% !important;
  }
  .swiper-button-prev {
    right: 70px !important;
  }
  .swiper-button-next {
    right: 0 !important;
  }
  #contact svg {
    height: 23px !important;
    width: 23px !important;
  }
}

@media (min-width: 768px) {
  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 20px !important;
    font-weight: bold !important;
  }
  #contact svg {
    height: 25px !important;
    width: 25px !important;
  }
}

@media (min-width: 1024px) {
  .home {
    height: 542px;
    width: 100%;
  }
}
